#root {
  margin: 0 auto;
  text-align: left;
  display: flex;
  height: 100vh;  
  background-color:  #f2f2f2;      

}
nav {
  width: 250px;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  height: 100vh,
}
nav ul li {
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 8px;  
  border-radius: 4px;
}
nav ul li a{
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 8px;  
  cursor: pointer;
  border-radius: 4px;
  background-color: #4e4caf;                           
  transition: all 0.2s ease;
  text-align: center;
}

nav ul li a{
color: white; 
}
 
nav ul li a:hover{
  background-color: #5345a0;
}
nav ul li a:active{
  background-color: #513e8e; 
  transform: translateY(5px); 
  box-shadow: inset 0 3px 5px rgba(169, 173, 236, 0.859); 
}


.app-container {
  flex: 1;                      
  padding: 20px;                
  overflow-y: auto; 
}
.app-container button {
 display: inline-block;          
  width: 200px;                   
  height: 50px;                   
  margin: 30px 10px;         
  padding: 0px ;             
  font-size: 16px;                
  text-align: center;
  cursor: pointer;                
  border: none;                   
  border-radius: 8px;             
  background-color: #4e4caf;      
  color: white;                  
  transition: all 0.2s ease;      
}
button:hover {
  background-color: #5345a0; 
}


button:active {
  background-color: #513e8e; 
  transform: translateY(5px); 
  box-shadow: inset 0 3px 5px rgba(169, 173, 236, 0.859); 
}